* {
    margin:0;
    padding:0;
}
.header {
   width: 100%;
   margin: auto; /*centrer title sur la largeur de header*/
   background-image: linear-gradient(130deg,#bd2b4a 0%,#475080 100%);
   
}

.headerBottom {
    display:flex;
    align-items: center;
}

.flag {
    width: 15vw;
    float: left;
    margin-left:15px;
}

.imgFlag {
    max-width : 100%;
    max-height: 100%;
}

.headerTitle {
   text-align: center;
   width: 60vw;
}


.headerNavigation {
    display: flex;
    justify-content: space-around;
}
 /* css accueil */
.paragraph{
    margin-top: 10%;
    
}
 .firstParagraph, .secondParagraph{
     margin: 2%;
     margin-top: 5%;
     font-size: var(--font-size-body);
     font-family: var(--body-font);
    
 }

 .titleParagraph{
     margin-bottom: 1%;
     text-decoration: underline;
     font-family: var(--title-font);
 }
 .activitys {
    display: flex;
    justify-content: space-evenly;
     height: 300px;
     margin-top: 10%;
    
 }

 .activitys img {
    border-radius: 10px;
    width: 95%;
    height: 100%;
    margin: 2%;
    box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.33);
}

.buttonActivity{
    font-size: var(--font-size-title);
    width: 40%;
    margin: 3px;
    text-align: center;
    color:black;
    /* border-radius: 10px;
    box-shadow: -9px 0px 12px 4px black (255, 3, 3, 0.33); */
    
}

.buttonActivity:hover{
    transition: 0.5s;
    background-color: var(--title-color);
    box-shadow: -9px 0px 38px 4px black (255, 0, 0, 0.33);
    color: blanchedalmond;
    border-radius: 10px;
}


.restaurant div {
    font-size: 20px;
    padding: 5px;
}



.form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    margin-top: 10%;
    border-top: solid;
   
}

input, textarea, button {
    height: 30px;
    border-radius: 10px;
    margin: 10px;
    border: solid 1px black;

    

}

button {
    background-color: var(--title-color);
    color: blanchedalmond;
    width: 20%;

}

@media screen and (max-width: 767px) {
    
    .activitys{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}