.paragraph{
    margin-top: 10%;
    
}
 .firstParagraph, .secondParagraph{
     margin: 2%;
     margin-top: 5%;
     font-size: var(--font-size-body);
     font-family: var(--body-font);
    
 }

 .titleParagraph{
     margin-bottom: 1%;
     text-decoration: underline;
     font-family: var(--title-font);
 }
 .activitys {
    display: flex;
    justify-content: space-evenly;
     height: 300px;
     margin-top: 10%;
    
 }

 .activitys img {
    border-radius: 10px;
    width: 95%;
    height: 100%;
    margin: 2%;
    box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.33);
    transition: .1s;
}

.activitys img:hover{
 transform: scale(1.1);
}

.buttonActivity{
    font-size: var(--font-size-title);
    width: 40%;
    margin: 3px;
    text-align: center;
    color:black;
    border-radius: 10px;
  
    
}

.buttonActivity:hover{
    transition: 0.5s;
    border: solid 3px black;
    color: black;
}


.restaurant div {
    font-size: 20px;
    padding: 5px;
}

.theMap {
    width: 55%;
    height: 500px;
    margin-top: 8%;
    margin-left: 15%;

}

#map{
    
    width: 130%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.33);
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 300px;
    margin: auto;
    margin-top: 10%;
    border-top: solid;
   
}

input, textarea, button {
    height: 20%;
    border-radius: 10px;
    margin: 10px;
    border: solid 1px black;

    

}

button {
    background-color: var(--title-color);
    color: blanchedalmond;
    width: 20%;
    height: 20%;
    font-size: 60%;

}




/*carroussel css*/ 


.carrousselContainer {
  position: relative;
  width: 320px;
  height: 250px;
  margin: 100px auto 0 auto;
  perspective: 1000px;
}

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; 
  animation: rotate360 60s infinite forwards linear;
}
.carousel__face { 
  position: absolute;
  width: 300px;
  height: 187px;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: cover;
  display: flex;
}

span {
  margin: auto;
  font-size: 2rem;
  color: var(--title-color);
}


.carousel__face:nth-child(1) {
  background-image: url('/img/carroussel1.jpg');
  transform: rotateY(  0deg) translateZ(430px); }
.carousel__face:nth-child(2) { 
  background-image: url('/img/carroussel2.jpg');
    transform: rotateY( 40deg) translateZ(430px); }
.carousel__face:nth-child(3) {
  background-image: url('/img/carroussel3.jpg');
  transform: rotateY( 80deg) translateZ(430px); }
.carousel__face:nth-child(4) {
  background-image: url('/img/carroussel4.jpg');
  transform: rotateY(120deg) translateZ(430px); }
.carousel__face:nth-child(5) { 
  background-image: url('/img/carroussel5.jpg');
 transform: rotateY(160deg) translateZ(430px); }
.carousel__face:nth-child(6) { 
  background-image: url('/img/carroussel6.jpg');
 transform: rotateY(200deg) translateZ(430px); }
.carousel__face:nth-child(7) { 
  background-image: url('/img/louis.jpg');
 transform: rotateY(240deg) translateZ(430px); }
.carousel__face:nth-child(8) {
  background-image: url('/img/carroussel8.jpg');
  transform: rotateY(280deg) translateZ(430px); }
.carousel__face:nth-child(9) {
  background-image: url('/img/carroussel9.jpg');
  transform: rotateY(320deg) translateZ(430px); }



@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}




@media screen and (max-width: 800px) {
    
  .activitys{
      display: flex;
      flex-direction: column;
      height: auto;
      
      
  }
  .buttonActivity{
      border: solid 3px black;
      
  
  }
  .buttonActivity:hover{
      transition: none;
  
  }
  .activitys img:hover {
      transform: none;
  }

  .theMap {
      width: 100%;
      height: 400px;
      margin-top: 8%;
      margin-left: 0%;
  }
  #map{
  
      width: 100%;
      height:100%;
      border-radius: 10px;
      box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.33);
    }


    .carrousselContainer {
      height: 150px;
      
    }
    .carousel__face { 
      width: 200px;
      height: 100px;
      
    }
    .carousel__face:nth-child(1) {
      background-image: url('/img/carroussel1.jpg');
      transform: rotateY(  0deg) translateZ(300px); }
    .carousel__face:nth-child(2) { 
      background-image: url('/img/carroussel2.jpg');
        transform: rotateY( 40deg) translateZ(300px); }
    .carousel__face:nth-child(3) {
      background-image: url('/img/carroussel3.jpg');
      transform: rotateY( 80deg) translateZ(300px); }
    .carousel__face:nth-child(4) {
      background-image: url('/img/carroussel4.jpg');
      transform: rotateY(120deg) translateZ(300px); }
    .carousel__face:nth-child(5) { 
      background-image: url('/img/carroussel5.jpg');
     transform: rotateY(160deg) translateZ(300px); }
    .carousel__face:nth-child(6) { 
      background-image: url('/img/carroussel6.jpg');
     transform: rotateY(200deg) translateZ(300px); }
    .carousel__face:nth-child(7) { 
      background-image: url('/img/louis.jpg');
     transform: rotateY(240deg) translateZ(300px); }
    .carousel__face:nth-child(8) {
      background-image: url('/img/carroussel8.jpg');
      transform: rotateY(280deg) translateZ(300px); }
    .carousel__face:nth-child(9) {
      background-image: url('/img/carroussel9.jpg');
      transform: rotateY(320deg) translateZ(300px); }
   
}

@media screen and (max-width: 400px){
  .carrousselContainer{
    display: none;
  }
}