h1{
    padding: 10px;
    margin-bottom: 30px;
}

h2{
    font-size: 20px;
    font-family: var(--body-font);
    padding: 12px;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
}

h3{
    font-size: 18px;
    font-family: var(--body-font);
    font-style: italic;
    padding: 7px;
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: 25px;
}


.pageActivites{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 60px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    align-items:flex-start;
    /*border: 2px solid #f8fdff;
    background-color: #f8fdff;
    border-radius: 10px;*/
}

.liens{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 120%;
    margin-bottom: 60px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    align-items:flex-start;
    border-radius: 10px;
    background-color: #F9F871;
}


.liensTitle{
  
    font-style: normal;
    text-align:center;
    font-style: var(--body-font);
    font-size: 22px;
    color: #C40909;
}

.liensRéservations{
    margin-top:15px;
    margin-bottom:20px;
    margin-left: 10px;
    margin-right: 10px;
    font-style: normal;
    text-align:left;
    color: black;
    font-size: var(--font-size-body);

}

.liens:hover{
    transform: scale(1.2);
}

.liensRéservations:link{
    color:black;
}

.liensRéservations:visited{
    color: cadetblue;
}

.liensRéservations:active{
    color: #00D4ED;
}

.blocActivites{
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: space-evenly;
    margin-bottom: 60px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    align-items:flex-start;
}


article{
   display:flex;
   flex-direction: column;
   justify-content: space-evenly;
   height: auto;
   width: 100%;
   padding: 3px;
   margin-right: 2px;
   margin-left: 0px;
   margin-bottom: 40px;
   /*border: black solid 2px;
   border-radius: 10px;*/
   text-align:justify;
   
}


.imgContainer{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction:row;
    margin: 5px;
    object-fit: contain;
    width: auto;
    height: auto;    
}

.havaneImg{
    width: 100%;
    height: 45vh;
    object-fit: contain;
}

.trinidadImg{
    width: 100%;
    height: 43vh;
    object-fit: contain;  
}

.natureImgVallee{
    width: 100%;
    margin-bottom: 10px;
    height: 47.5vh;
    object-fit: contain;
}

.natureImgPlage{
    width: 100%;
    margin-bottom: 10px;
    height: 46vh;
    object-fit: contain; 
}

.musicImg{
    width: 100%;
    margin-bottom: 10px;
    height: 50vh;
    object-fit: contain;
}

.produitsImg{
    width: 100%;
    height: 44.5vh;
    object-fit: contain;  
    margin-bottom: 20px;
}

.voituresImg{
    width: 100%;
    height: 44.5vh;
    object-fit: contain;  
    margin-bottom: 10px;
}


p{
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right:20px;
    font-size: var(--font-size-body);
    text-align: justify;
}

.excursion{
  border: solid 2px #00D4ED;
  border-radius: 10px;
  /*background-color: #00D4ED;*/
  width: 320px;
  margin-top: 0;
  margin-bottom: 5px;
  margin-left: 50px;
  margin-right:50px;  
  text-align: justify;
  padding: 10px;
  margin-bottom: 20px;
  font-size: var(--font-size-body);
}

.excursion:hover{
    transform: scale(1.2);
    
}

.musicPlayer{
    font-family: var(--body-font);
    padding: 5px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items:center;
}

figcaption{
    font-style: italic;
    font-family: var (--body-font);
}

figure{
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F9F871;
    border-radius: 10px;

}

figure:active{
    background-color:#00D4ED;
    border-radius: 10px;
}

figure:hover{
    transform: scale(1.2);
}



@media screen and (max-width: 767px){
    
    .pageActivites{
        overflow: auto;
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        margin: auto;
    }
    
    .liens{
        overflow: auto;
        height: auto;
        width: 70vh;
        /*border: black solid 2px;
        border-radius: 10px;*/
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: auto; 
        margin-bottom: 10px;
    }

    article {
        overflow: auto;
        height: auto;
        width: auto;
        /*border: black solid 2px;
        border-radius: 10px;*/
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: auto;
     }

     h3{
         margin-top: 18px;
     }

    .havaneFirst{
        display:none
    } 

    .havaneSecond {
    display: flex;
    align-items: center;
    width:auto;
    flex-direction: row;
    }
    
    .havaneThird{
        display: none;
    }
    
    .trinidadSecond {
        display:none;
    }
    
    .trinidadFirst {
        display: flex;
        align-items: center;
        width:auto;
        flex-direction: row;
        object-fit: contain;
    }

    .natureFirst{
        display: none;
    }
    .natureSecond{
        display: none;
    }

    .natureThird{
        display: flex;
        align-items: center;
        width:auto;
        flex-direction: row;
    }

    .musicFirst{
        display: flex;
        align-items: center;
        width:auto;
        flex-direction: row;
    }

    .musicSecond{
        display: none;
    }

    .musicThird{
        display: none;
    }

    .produitsFirst{
        display: none;
    }

    .produitsSecond{
        display: flex;
        align-items: center;
        width:auto;
        flex-direction: row;
    }

    .voituresFirst{
        display: flex;
        align-items: center;
        width:auto;
        flex-direction: row;
    }

    .voituresSecond{
        display: none;
    }

    .imgContainer{
        display: flex;
        justify-content: center;
        flex-direction:row;
        } 

.navA:active{
    transform: none;
}
}



@media screen and (max-width: 360px){

    .pageActivites{
        overflow: auto;
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        margin: auto;
        border:solid black;
    }

    .liens{
        /*overflow:hidden;*/
       /* height: auto;*/
        margin-left: 60px;
        border: black solid 2px;
        border-radius: 10px;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    article {
        overflow:hidden;
        height: auto;
        width: 90%;
        border: black solid 2px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /*margin: auto;*/
     }


     h3{
         margin-top: 18px;
     }

    .havaneFirst{
        display:none
    } 

    .havaneSecond {
    display: flex;
    align-items: center;
    width:90%;
    flex-direction: row;
    }
    
    .havaneThird{
        display: none;
    }
    
    .trinidadSecond {
        display:none;
    }
    /*.trinidadThird {
        display:none;
    }*/
    .trinidadFirst {
        display: flex;
        align-items: center;
        width:90%;
        flex-direction: row;
        object-fit: contain;
    }

    .natureFirst{
        display: none;
    }
    .natureSecond{
        display: none;
    }

    .natureThird{
        display: flex;
        align-items: center;
        width:90%;
        flex-direction: row;
    }

    .musicFirst{
        display: flex;
        align-items: center;
        width:90%;
        flex-direction: row;
    }

    .musicSecond{
        display: none;
    }

    .musicThird{
        display: none;
    }

    .produitsFirst{
        display: none;
    }

    .produitsSecond{
        display: flex;
        align-items: center;
        width:95%;
        flex-direction: row;
    }

    .voituresFirst{
        display: flex;
        align-items: center;
        width:95%;
        flex-direction: row;
    }

    .voituresSecond{
        display: none;
    }

    .imgContainer{
        display: flex;
        justify-content: center;
        flex-direction:row;
        } 


    .excursion{   
        /*background-color: #00D4ED;*/
        height: auto;
        width: 50%; 
        text-align: justify;
        padding: 10px;
        margin-bottom: 20px;
        font-size: var(--font-size-body);
    }

.navA:active{
    transform: none;
}
}