* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style:none;
}

@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@0;1&family=Nunito:wght@200&display=swap');

:root{
    --title-font: 'Amiri', serif;
    --body-font: 'Nunito', sans-serif;
    --font-size-title: 30px;
    --font-size-body: 20px;
    --background-start: #00B9FF;
    --background-end: #00D4ED;
    --title-color: #C40909;
    --nav-btn-color: #F9F871;
    --nav-btn-text:black;
    --transition-property: 0.3s;

        
}
h1{
    font-family: var(--title-font);
    color: var(--title-color);
    font-size: 50px;
}

h2{
    font-family: var(--title-font);
    color: var(--title-color);
    font-size: var(--font-size-title);
}

body{
    font-family: var(--body-font);
    font-size: var(--font-size-body);
}

/* header */

.header {
    width: 100vw;
    background-image: linear-gradient(130deg,#6098F2 0%,#00D4ED 100%);
 }

 .headerTop {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

.logoFlagImg {
    height: 100px;
    margin-left: 20px;
}

.weather img{
    height: 80px;
}

.headerNavigation {
    position: relative;
    display: flex;
    width: 100vw;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    transition: var(--transition-property);
    padding-top: 20px;
}

.menuNavigation {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height:100%;
    z-index:1;
}

.navA a {
    color: var(--nav-btn-text);
    transition: var(--transition-property);
}

.navA a:hover {
    background-color: var(--nav-btn-color);
    color: var(--background-start);
    padding: 10px;
}

.etoile {
    width: 20px;
}

.burgerMenu {
    position: relative;
    width: 30px;
    height: 4px;
    background-color: var(--title-color);
    border-radius: 8px;
    cursor: pointer;
    z-index:2;
}

.burgerMenu:before,
.burgerMenu:after {
    content: "";
    position: absolute;
    height: 4px;
    right:0;
    background-color: var(--title-color) ;
    border-radius: 8px;
    transition: var(--transition-property);
}

.burgerMenu:before {
    top: -10px;
    width: 30px;
}

.burgerMenu:after {
    top: 10px;
    width: 30px;
}

.toggleBtn {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index:3;
    cursor: pointer;
    opacity: 0;
}

.burgerMenu,
.toggleBtn {
    display:none;
}

.headerNavigation input:checked ~.burgerMenu {
    background-color: transparent;
}

.headerNavigation input:checked ~.burgerMenu:before {
    top: 0;
    transform: rotate(-45deg);
}

.headerNavigation input:checked ~.burgerMenu:after {
    top: 0;
    transform: rotate(45deg);
}

.headerNavigation input:checked ~.menuNavigation {
    left:0;
}

@media screen and (max-width:767px) {
    .burgerMenu,
    .toggleBtn {
        display:block;
    }

    .menuNavigation {
        justify-content: start;
        flex-direction: column;
        background-color: var(--background-start);
        align-items: center;
        position:fixed;
        top:0;
        width:45vw;
        left: -45vw;
        height:100%;
        padding-top:50px;
        transition:var(--transition-property);
    }

    .menuNavigation li {
        width: 100%;
        margin: 20px;
        text-align:center;
    }

    .etoile{
        display:none;
    }
    .navA {
       margin: 40px; 
    }
}

@media screen and (max-width:360px) {
    .weather {
        display:none;
    }

    .title {
        text-align:center;
    }
}


/* footer */


footer {
    background-image: linear-gradient(130deg,#6098F2 0%,#00D4ED 100%);
    position: relative;
    padding: 0;
    text-align: center;
    display:block;
}

.footerContainer {
    position: relative;
    display: block;
    z-index:3;
    max-width: 1170px;
    height:100%;
}

.footerContainer section {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100vw;
    height: 100px;
    align-items: center;
    
}



.contactContainer {
    /* width:33%;
    float: left;
    position: relative;
    display: block;
    min-height: 1px; */
    
}

.contact {
    /* display: flex;
    position: relative; */
}

.envelope {
    background: var(--nav-btn-color);
    box-shadow: none;
    margin-right: 0;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    display:inline-block;
    font-size: 18px;
    height: 50px;
    top: 25px;
    border-radius: 50px;
    transition: var(--transition-property);
    max-width: 50px;
    transform: translateX(0);
}

.envelope img {
    background-color: var(--nav-btn-color);
    color: var(--nav-btn-text);
    z-index:4;
    position: absolute;
    display: inline-block;
    width: 50px;
    height:50px;
    left:0;
    top:0;
    font-size:28px;
    transition: var(--transition-property);
    border-radius: 50px;
    box-shadow: 2px 2px 7px 2px var(--nav-btn-color);
}

.envelope a {
    color: var(--nav-btn-text);
    margin-left: 60px;
    text-transform: uppercase;
    font-size: 16px;
    z-index:3;
    position: relative;
    opacity:1;
    visibility: hidden;
    transition: var(--transition-property);
    top: -100px;
    font-weight:400;
    margin-right:22px;
    background-color: transparent;
    cursor: pointer;
}

.contactTelephone {
    background-color: var(--title-color);
    box-shadow: none;
    margin-right: 10px;
    position: relative;
    overflow:hidden;
    width: auto;
    box-sizing:border-box;
    display:inline-block;
    font-size:18px;
    height:50px;
    top:25px;
    border-radius: 50px;
    transition: var(--transition-property);
    max-width: 50px; 
    transform: translateX(0);
}

.contactTelephone img {
    background-color: var(--nav-btn-color);
    color: var(--nav-btn-text);
    z-index:4;
    position: absolute;
    display: inline-block;
    width:50px;
    height:50px;
    left:0;
    top:0;
    font-size:28px;
    transition: var(--transition-property);
    border-radius: 50px;
    box-shadow: 2px 2px 7px 2px var(--nav-btn-text);
    

}

.contactTelephone a {
    color: var(--nav-btn-text);
    text-transform: uppercase;
    font-size: 16px;
    z-index:3;
    position: relative;
    opacity: 1;
    visibility: hidden;
    transition: var(--transition-property);
    top: -100px;
    font-weight: 400;
    background-color: transparent;
    cursor: pointer;
}

.logoFooterImg {
    height: 50px;
}

.iconeSocialList li {
    display: inline-block;
}